.title {
  text-align: center;
  margin-bottom: 1.3em;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2.2em 2em;
  max-width: 90vw;
  margin: auto;
  margin-bottom: 7em;
}

@media screen and (max-width: 800px) {
  .container {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 512px) {
  .title {
    font-size: 1.9rem;
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
