.card {
  box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.172);
  padding: 1.8em 2.4em 1.7em 2.4em;
  border-radius: 0.4em;
}

.card h2 {
  /* text-align: center; */
  margin-top: 0;
}

.card ul {
  padding-left: 0;
}

.card li {
  list-style: none;
  margin-bottom: 0.2em;
  max-width: 20ch;
}

.key {
  font-weight: 500;
  /* margin-right: 0.2em; */
}

.information {
  word-break: break-all;
}

@media screen and (max-width: 512px) {
  .card {
    padding: 1.5em;
  }

  .card h2 {
    font-size: 1.25rem;
  }

  .card li {
    font-size: 0.92rem;
  }
}
