.container {
  margin-right: 1.3em;
}

.inputContainer {
  border: 2px solid #171717;
  width: 40ch;
  display: flex;
  align-items: center;
  padding: 0.8em 0.7em;
  border-radius: 0.3em;
}

.icon {
  max-height: 2em;
  display: block;
}

.input {
  border: none;
  margin-left: 0.7em;
  font-size: 1.3rem;
}

.input:focus {
  outline: none;
}
