.container {
  margin-left: 2em;
  margin-right: 3.3em;
  max-width: 100%;
}

.inputContainer {
  border: 2px solid #171717;
  width: 40ch;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 0.8em 0.7em;
  border-radius: 0.3em;
}

.icon {
  max-height: 2em;
  display: block;
}

.input {
  border: none;
  margin-left: 0.7em;
  font-size: 1.3rem;
  width: 100%;
}

.input:focus {
  outline: none;
}

@media screen and (max-width: 512px) {
  .container {
    margin: 0 2em;
  }

  .inputContainer {
    padding: 0.5em;
    border-width: 1px;
  }

  .input {
    font-size: 1rem;
    margin-left: 0.4em;
  }

  .icon {
    height: 1.2rem;
  }
}
